body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: aliceblue;
}

#chessboard {
    display: grid;
    grid-template-rows: repeat(8, 80px); /* 8 rows */
    grid-template-columns: repeat(8, 80px); /* 8 columns */
    border: 5px solid black;
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
}

/* Responsive for mobile screens */
@media (max-width: 750px) {
    #chessboard {
        grid-template-rows: repeat(8, 30px); /* 8 rows */
        grid-template-columns: repeat(8, 30px); /* 8 columns */
    }

    .square {
        width: 30px;
        height: 30px;
        font-size: 15px; /* Adjust chess piece size */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        cursor: pointer;
    }
}

.square {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    cursor: pointer;
}

.square:nth-child(odd) {
    background-color: #143fe9; /* Dark squares */
}

.square:nth-child(even) {
    background-color: #a1d4f8; /* Light squares */
}

.white-piece {
    color: white;
    font-size: 60px;
}

.black-piece {
    color: black;
    font-size: 60px;
}

.highlight {
    background-color: yellow;
    z-index: 1000;
}
